<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Activity 与 Native Module 一并进入 AAR，宿主无需复制容器声明。 -->
        <activity
            android:name=".container.LynxShellActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="lynxshell" android:host="open" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="hybrid" android:host="lynxview_page" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bridge.ShellMediaPickerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.LynxShell.MediaPicker" />
    </application>
</manifest>
